@model WebApp.Models.LoginViewModel
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Index";
}
<html Lang="en">
<head>
    <meta charset="utf-8" />
    <title>Stress World</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="bodyLogin">
    <div class="box">
        <span class="borderLine"></span>
        <form action="/Login/Login" method="post">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" required="required" name="Id" />
                <span>User Name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required" name="PassWord" />
                <span>PassWord</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Forgot Password</a>
                <a href="#">Sign Up</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>