@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div class="text-center">
    <div class="center">
        <h1 class="display-4">
            <span>Welcome to Stess World</span>
            <span>Welcome to Stess World</span>
            <span>Welcome to Stess World</span>
        </h1>
    </div>
    
    <div class="spider">
        <div class="spiderweb"></div>
        <div class="body">
            <div class="eye left"></div>
            <div class="eye right"></div>
        </div>
        <div class="legs left">
            <div class="leg"></div>
            <div class="leg"></div>
            <div class="leg"></div>
        </div>
        <div class="legs right">
            <div class="leg"></div>
            <div class="leg"></div>
            <div class="leg"></div>
        </div>
    </div>
</div>

