*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family:'Poppins',sans-serif;
}
:root {
    --x:45deg;
}
.menuBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-bottom: solid #4b0854;
}
.menu {
    position: relative;
    text-decoration: none;
    color: #fff !important;
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 1.25em;
    background:linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
}
  
    .menu span {
        position: relative;
        z-index:1 ;
    }
    .menu::before {
        content: '';
        position: absolute;
        inset: 1px;
        background:#272727;
        border-radius:9px ;
        transition: 0.5s;
    }
    .menu:hover::before {
        opacity: 0.7;
    }

    .menu::after {
        content: '';
        position: absolute;
        inset: 0px;
        background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
        border-radius: 9px;
        transition: 0.5s;
        opacity: 0;
        filter: blur(20px)
    }
    .menu:hover:after {
        opacity: 1;
    }
    
/*////////Logout////////*/
.btnLogout a {
    position: relative;
    width: 160px;
    height: 60px;
    display: inline-block;
    background: #fff;
    margin: 20px;
}

    .btnLogout a:before,
    .btnLogout a:after {
        content: '';
        position: absolute;
        inset: 0;
        transition: 0.5s;
        background: #f00
    }

.btnLogout a:nth-child(1):before,
.btnLogout a:nth-child(1):after {
    background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4)
}

.btnLogout a:nth-child(2):before,
.btnLogout a:nth-child(2):after {
    background: linear-gradient(45deg, #f0075b, #0e1538, #1aff22);
}

.btnLogout a:hover:before {
    inset: -3px;
}

.btnLogout a:hover:after {
    inset: -3px;
    filter: blur(10px);
}

.btnLogout a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #0e1538;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #040a29;
    overflow: hidden;
}

    .btnLogout a span::before {
        content: '';
        position: absolute;
        top: 0;
        left: -50%;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.075);
        transform: skew(25deg)
    }
/*////////Logout////////*/

/*////////////Home/////////////*/

:root {
    --glow-color: hsl(186 100% 69%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

    .glowing-btn:hover .glowing-txt {
        animation: none;
    }

    .glowing-btn:hover .faulty-letter {
        animation: none;
        text-shadow: none;
        opacity: 1;
    }

    .glowing-btn:hover:before {
        filter: blur(1.5em);
        opacity: 1;
    }

    .glowing-btn:hover:after {
        opacity: 1;
    }

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}
/*////////////Home/////////////*/

