html:hover .spider {
    top: -120%;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;
    /* 4. Animatie */
    animation: swing 2s infinite;
    transform-origin: top;
    /* Bonus */
    transition: 3s ease-in-out;
}

    .spider .spiderweb {
        width: 2px;
        height: 200px;
        margin-left: 49px;
        background: rgba(255,255,255, .7);
    }

    .spider .body {
        width: 100px;
        height: 80px;
        background: #c63535;
        position: relative;
        border-radius: 50%;
    }

        .spider .body .eye {
            width: 33px;
            height: 33px;
            position: absolute;
            bottom: 20px;
            background: #fff;
            border-radius: 50%;
        }

            .spider .body .eye.left {
                left: 15px;
            }

            .spider .body .eye.right {
                right: 15px;
            }

            .spider .body .eye:after {
                background: #000;
                width: 7px;
                height: 7px;
                content: '';
                display: block;
                margin: 55%;
                border-radius: 50%;
                /* 3. Animatie */
                animation: look 8s infinite;
            }

    .spider .legs .leg {
        width: 80px;
        height: 40px;
        margin-top: -20px;
        border: 5px solid transparent;
        border-top-color: #c63535;
        border-radius: 40px 40px 0 0;
    }

    .spider .legs {
        position: absolute;
        bottom: -10%;
        z-index: -1;
    }

        .spider .legs.left {
            left: -70%;
        }

        .spider .legs.right {
            right: -60%;
        }


.legs.left .leg:nth-child(1) {
    transform: rotate(10deg);
    margin-left: 10px;
}

.legs.right .leg:nth-child(1) {
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2) {
    transform: rotate(-20deg);
    margin-left: 20px;
}

.legs.right .leg:nth-child(2) {
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3) {
    transform: rotate(-50deg);
    margin-left: 30px;
}

.legs.right .leg:nth-child(3) {
    transform: rotate(50deg);
    margin-left: -30px;
}

/* 1. Animatie */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0);
    }

    45%, 95% {
        transform: translateX(-110%);
    }
}


/* 3. Animatie */
@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: prespective(1000px) translate(-50%,-50%);
    transform: skewY(15deg);
    transition: 0.5s;
}

    .center:hover {
        transform: prespective(1000px) translate(-50%,-50%);
        transform: skewY(0deg);
    }

    .center h1 span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%,-50%);
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 140px;
        color: #fff;
        transform-style: preserve-3d;
        transition: 0.8s;
    }

        .center h1 span:nth-child(1) {
            clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
        }



        .center h1 span:nth-child(2) {
            color: #5E17EB;
            transform: translate(-50%,-50%) skewX(-60deg);
            left: -38px;
            clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
        }

        .center h1 span:nth-child(3) {
            transform: translate(-50%,-50%) skewY(0deg);
            left: -76px;
            clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
        }

    .center:hover h1 span:nth-child(2),
    .center:hover h1 span:nth-child(3) {
        transform: translate(-50%,-50%) skewX(0deg);
        left: 0;
        color: #fff;
    }